h1, h2, h3 {
  color: #5e503f;
}

h1 {
  text-align: center;
  font-size: 34px;
  padding: 10px 20px;
}

h3 {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #5e503f;
}

p {
  padding: 15px 0;
}

body {
  background-color: #D8D4CE;
  color: #212427;
  line-height: 1.5;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    display: block;
  }
  header li {
    padding: 10px 30px;
    font-size: 21px;
  }
  header li a {
    text-decoration: none;
    color: #212427;
  }
  span {
    padding: 20px;
    background: #5e503f;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
  }
  span::after {
    float: right;
    right: 10%;
    content: "+";
  }
  .dropdown {
    clear: both;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
  }
  span, #touch {
    visibility: visible;
  }
  .dropdown li {
    padding: 10px;
  }
  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
  }
  #touch:checked + .dropdown {
    height: 420px;
  }
}
@media screen and (min-width: 800px) {
  .logo {
    width: 130px;
    padding-bottom: 10px;
    padding-right: 170px;
  }
  .home {
    display: none;
  }
  header {
    top: 0%;
    width: 100%;
    background-color: #D8D4CE;
    position: fixed;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header li {
    padding: 10px 40px;
    font-size: 18px;
  }
  header li a {
    text-decoration: none;
    color: #212427;
    font-size: 18px;
  }
  /*hidden mobile menu on desktop*/
  span, #touch {
    visibility: hidden;
  }
}
footer {
  padding: 10px 60px;
  background-color: #5e503f;
  color: white;
  font-size: 12px;
}

@media screen and (min-width: 800px) {
  footer {
    padding: 30px 120px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 10px 120px;
  }
}
.hero-image {
  background-image: url("/images/pechnotni-srub-brezinka-praseci-ocasky.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-top: 120px;
}

.hero-text h1 {
  text-align: center;
  color: white;
  text-shadow: #000 1px 0 6px;
  font-size: 40px;
}

@media screen and (min-width: 800px) {
  .hero-image {
    height: 500px;
  }
  .hero-text h1 {
    font-size: 64px;
  }
}
form, .hero-text {
  display: grid;
}

a.button__submit, a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  background-color: #fbb13c;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a.button:active, a.button__submit:active {
  background-color: #e09114;
  color: white;
}

a.button:hover, a.button__submit:hover {
  background-color: #e09114;
  color: white;
}

label {
  margin-bottom: -160px;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  a.button__submit, a.button {
    padding: 22 px 50px;
    font-size: 21px;
  }
}
.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
}
.quote blockquote {
  border: solid 2px #757575;
  display: inline-block;
  margin: 0;
  padding: 1em;
  position: relative;
}
.quote blockquote:before {
  bottom: -10%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: -10%;
  transform: rotate(-15deg) skew(5deg);
}
.quote blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}
.quote blockquote cite:before {
  content: "- ";
}
.quote blockquote > * {
  position: relative;
  z-index: 1;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

@media screen and (min-width: 800px) {
  .form__contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1200px;
    padding-top: 80px;
  }
  .form__description {
    padding-right: 120px;
  }
}
.image {
  width: 100%;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.image-grid div {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .image-grid div {
    width: 383.3333333333px;
    padding: 5px;
  }
}
.info {
  background-color: rgb(243, 243, 243);
  padding: 20px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.info__image img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.info p {
  padding: 0;
}

@media screen and (min-width: 800px) {
  .info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 80px;
  }
}
.article-cards {
  display: flex;
  justify-content: center;
}

.article-overview {
  padding: 20px 30px;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  width: 100%;
}

.card h2 {
  margin: 0;
  padding: 10px 0;
}

.article {
  padding: 20px 20px;
}

.article__meta {
  font-size: 12px;
}

.thumbnail {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 800px) {
  .card {
    max-width: 1100px;
    padding: 30px 50px;
    margin: 0px 30px;
  }
  .article-overview {
    padding: 50px 30px;
  }
  .thumbnail {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article {
    max-width: 1200px;
  }
  .card h2 {
    padding: 10px 0;
  }
}
/*
.card p {
  padding: 20px;
}


.card h2 {
  text-align: center;
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.article-overview {
  display: flex;
  flex-direction: row;
}*/
.museums {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
}

.museum {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.museum p {
  padding: 20px;
}

.museum h2 {
  text-align: center;
  padding: 5px 10px;
}

.museum img {
  width: inherit;
}

@media screen and (min-width: 800px) {
  .museums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 1200px;
    padding-top: 50px;
  }
  .museum {
    width: 380px;
  }
  .museums-list {
    display: grid;
    justify-items: center;
  }
  .museum h2 {
    font-size: 24px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 16px;
}

section {
  padding: 30px 40px;
  justify-items: center;
  display: grid;
}

@media screen and (min-width: 800px) {
  body {
    padding-top: 100px;
  }
  section {
    padding: 30px 80px;
  }
  .main {
    display: grid;
    justify-items: center;
  }
}/*# sourceMappingURL=style.css.map */