@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    display: block;
  }
  header li {
    padding: 10px 30px;
    font-size: 21px;
  }
  header li a {
    text-decoration: none;
    color: #212427;
  }
  span {
    padding: 20px;
    background: #5e503f;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
  }
  span::after {
    float: right;
    right: 10%;
    content: "+";
  }
  .dropdown {
    clear: both;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
  }
  span, #touch {
    visibility: visible;
  }
  .dropdown li {
    padding: 10px;
  }
  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
  }
  #touch:checked + .dropdown {
    height: 350px;
  }
}
@media screen and (min-width: 800px) {
  .logo {
    width: 150px;
    padding-bottom: 10px;
    padding-right: 170px;
  }
  header {
    top: 0%;
    width: 100%;
    background-color: transparent;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header li {
    padding: 10px 40px;
    font-size: 18px;
  }
  header li a {
    text-decoration: none;
    color: #212427;
    font-size: 18px;
  }
  /*hidden mobile menu on desktop*/
  span, #touch {
    visibility: hidden;
  }
}
footer {
  padding: 10px 60px;
  background-color: #5e503f;
  color: white;
  font-size: 12px;
}

@media screen and (min-width: 800px) {
  footer {
    padding: 30px 120px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 10px 120px;
  }
}
form, .articles, .hero-text {
  display: grid;
}

a.button__submit, a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  background-color: #fbb13c;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a.button:active, a.button__submit:active {
  background-color: #e09114;
  color: white;
}

a.button:hover, a.button__submit:hover {
  background-color: #e09114;
  color: white;
}

label {
  margin-bottom: -160px;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  a.button__submit, a.button {
    padding: 22 px 50px;
    font-size: 21px;
  }
}
h1, h2, h3 {
  color: #5e503f;
}

h1 {
  text-align: center;
}

body {
  background-color: #D8D4CE;
  color: #212427;
  line-height: 1.5;
}

.hero-image {
  background-image: url("/images/pechnotni-srub-brezinka-praseci-ocasky.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-top: 120px;
}

.hero-text h1 {
  text-align: center;
  color: white;
  text-shadow: #000 1px 0 6px;
  font-size: 40px;
}

@media screen and (min-width: 800px) {
  .hero-image {
    height: 500px;
  }
  .hero-text h1 {
    font-size: 64px;
  }
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

@media screen and (min-width: 800px) {
  .form__contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .form__description {
    padding-right: 120px;
  }
}
.articles__cards {
  display: flex;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 16px;
}

section {
  padding: 60px 80px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */