@use "colors";

form, .hero-text {
    display: grid;
}

a.button__submit, a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: colors.$button-primary;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  a.button:active, a.button__submit:active {
    background-color: colors.$button-secondary;
    color: white;
  }
  
  a.button:hover, a.button__submit:hover {
    background-color: colors.$button-secondary;
    color: white;
  }


  label {
    margin-bottom: -160px;
    font-weight: 700;
  }


  @media screen and (min-width: 800px) {
    a.button__submit, a.button {
      padding: 22 px 50px;
      font-size: 21px;
    }

}

