@use "colors";

footer {
    padding: 30px 60px;
    background-color: colors.$color-primary;
    color: white;
}

@media screen and (min-width: 800px) {
    footer {
        padding: 30px 120px;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        padding: 30px 120px;
    }
}