@use "colors";

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }


  @media screen and (min-width: 800px) {
    .form__contact {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 1200px;
        padding-top: 80px;
    }

    .form__description {
        padding-right: 120px;
    }

    }
