.image {
    width: 100%;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.image-grid div {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .image-grid div {
        width: calc(1150px/3);
        padding: 5px;
    }
}