@use "colors";

.logo img {
   display: none;
}

.menu__checkbox {
    /* Odsune prvek pryč ze stránky */
    position: absolute;
    left: -9999px;
}

.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 20px 20px;
    display: none;
}

.menu {
    background-color: colors.$color-primary;
    font-size: 25px;
    color: colors.$color-secondary;
    padding: 30px;
}

.logo-social {
    width: 35px;
    color: colors.$color-secondary;
}

.menu__item {
    border-bottom: 1px solid colors.$color-secondary;
    padding: 10px;
    margin: 0;
}

.menu__item a {
    text-decoration: none;
    color: colors.$color-secondary;
    display: block;
}

.menu__item:hover{
    background-color: #4e4130;
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

@media screen and (min-width: 800px) {

    .menu__list {
        display: flex;
    }

    .menu__item {
        border-bottom: 0;
    }

    .menu__toggler {
        display: none;
    }

    .logo img {
        width: 35px;
     }

     .menu {
        display: flex;
        justify-content: space-between;
     }
}