@use "colors";

@media screen and (max-width: 799px) {

    .logo {
        display: none;
    }

    header ul {
      list-style-type: none;
      margin: 0;
      display: block;
    }
    
    header li {
      padding: 10px 30px;
      font-size: 21px; 
    }

    header li a {
        text-decoration: none;
        color: colors.$color-paragraph;
      }

    span {
      padding: 20px;
      background : colors.$color-primary; 
      color : white;
      font-size : 1.2em;
      cursor : pointer;
      display: flex;
      justify-content: space-around;
    }
    
    span::after {
      float: right;
      right: 10%;
      content: "+";
    }

    .dropdown {
      clear:both;
      height:0px;
      overflow: hidden;
      text-align: center;
      transition: height .4s ease;
    }
    
    span, #touch {
      visibility: visible;
    }
  
    .dropdown li {
        padding : 10px;
    }
    
    #touch {
        position: absolute; 
        opacity: 0; 
        height: 0px;
    }    
    #touch:checked + .dropdown {
        height: 420px;} 
    }

@media screen and (min-width: 800px) {

.logo {
    width: 130px;
    padding-bottom: 10px;
    padding-right: 170px;
}

.home {
  display: none;
}

  header {
    top:0%;
    width: 100%;
    background-color: colors.$color-background;
    position: fixed;
  }
  
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header li {
    padding: 10px 40px;
    font-size: 18px;
  }
  
  header li a {
    text-decoration: none;
    color: colors.$color-paragraph;
    font-size: 18px;
  }
  
  /*hidden mobile menu on desktop*/
  span, #touch {
    visibility: hidden;
  } 
}