@use "colors";

.quote {
    display:inline-block;
    margin:1em;
    overflow:hidden;
    blockquote {
      border: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;
      &:before {
        bottom: -10%;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: -10%;
        transform: rotate(-15deg) skew(5deg);
      }
      cite {
        display: block;
        font-style: italic;
        text-align: right;
        &:before {
          content: "- ";
        }
      }
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }