@use "colors";

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


h1, h2, h3 {
    color: colors.$color-primary;
}

h1 {
    text-align: center;
}

body {
    background-color: colors.$color-background;
}