@use "colors";



h1, h2, h3 {
    color: colors.$color-primary;
}

h1 {
    text-align: center;
    font-size: 34px;
    padding: 10px 20px;
}

h3 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: colors.$color-primary;
}

body {
    background-color: colors.$color-background;
    color: colors.$color-paragraph;
    line-height: 1.5;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 34px;
    }
}