@use "colors";
@use "typo";

@use "nav";
@use "footer";
@use "hero";

@use "button";
@use "quote";
@use "form";
@use "gallery";
@use "info";

@use "articles";
@use "museums";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: 16px;
}




section {
    padding: 30px 40px;
    justify-items: center;
    display: grid;
}

@media screen and (min-width: 800px) {
      
    body {
        padding-top: 100px;
    }
    
    section {
        padding: 30px 80px;
    }

    .main {
        display: grid;
        justify-items: center;
      }
  
  }