@use "colors";
@use "nav";
@use "footer";
@use "button";
@use "typo";
@use "hero";
@use "form";
@use "articles";




body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: 16px;
}


section {
    padding: 60px 80px;
}

