---
layout: layouts/main-template.njk
title: Pevnostní turistika
---

        <section class="hero-image">
            <div class="hero-text">
                <h1>Pevnostní turistika</h1>
                <a href="/muzea-opevneni" class="button">Najít muzeum</a>
            </div>
        </section>
        <section>
        <h2 style="text-align: center;">Články</h2>
    </section>
        
        {% for prispevek in collections.clanky | reverse %}
        {% if loop.index0 < 3 %}
        
        <section class="article-overview">
            <div class="section-inner">
                
                    <div class="article-cards">
                        <div class="card">
                            
                            <h2>{{ prispevek.data.title }}</h2>
                            <p class="article__meta">{{ page.date.toLocaleString('cs-CZ') }}</p>
                            <p>{{ prispevek.data.perex }}</p>
        
                            <p><a class="button" href="{{ prispevek.url }}">Přečíst článek</a></p>
                        </div>
                    </div>
            </div>
        </section>
        {% endif%}
        {% endfor %}
        <section style="text-align: center">
            <a href="/clanky" class="button">Všechny články</a>
        </section>
