<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Muzea opevnění</li>
                <li>Články</li>
                <li>Kontakt</li>
            </ul>
        </nav>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
        </ul>
    </header>


        <main>
        {{ content | safe }}
        </main>


        <footer>
            <p>© Vendula Bezáková | Pevnostní turistika | 2022</p>
        </footer>
</body>
</html>