        <nav>
            <label for="touch"><span>Menu</span></label>
                <input type="checkbox" id="touch"> 
                    
                    <ul class="dropdown">
                    <a href="/"><img src="/images/ropik-logo-hotovo.png" class="logo"></a>
                    <li>
                        <a href="/muzea-opevneni">Muzea</a>
                    </li>
                    <li>
                        <a href="/mapa-opevneni">Mapa opevnění</a>
                    </li>
                    <li>
                        <a href="/clanky">Články</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/pevnostnituristika"><img src="/images/icons8-facebook-50.svg" style="width:40px"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/pevnostnituristika/"><img src="/images/icons8-instagram-50.svg" style="width:40px"></a>
                    </li>
                    <li>
                        <a href="#" class="button">Kontakt</a>
                    </li>
                    </ul>
            </nav>