        <nav>
            <label for="touch"><span>Menu</span></label>
                <input type="checkbox" id="touch"> 
                    
                    <ul class="dropdown">
                    <a href="/"><img src="/images/ropik-logo-hotovo.png" class="logo"></a>
                    <li>
                        <a href="/muzea-opevneni">Muzea</a>
                    </li>
                    <li>
                        <a href="/mapa-opevneni">Mapa opevnění</a>
                    </li>
                    <li>
                        <a href="/clanky">Články</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#" class="button">Kontakt</a>
                    </li>
                    </ul>
            </nav>