---
layout: layouts/main-template.njk
---



<main class="main">

	<article class="article">

		<h1>{{ title }}</h1>

		<p class="article__meta">Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>

		<div class="article__content">

			<p class="article__perex">{{ perex }}</p>

      <img class="thumbnail" src="{{ thumbnail }}"></img>

			{{ content | safe }}

		</div>

		<a href="/clanky/" class="button">Zpět na všechny články</a>
	</article>

</main>
